@import "tailwindcss";

@theme {
  --color-brand-offwhite: #fdfbf7;
  --color-brand-gold: #d4af37;
  --color-brand-text: #1c1917;
  --color-brand-check: #a8a29e;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--color-brand-text);
    background-color: var(--color-brand-offwhite);
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}
