@import "tailwindcss";

@theme {
  --color-brand-blue: #b9d7eb;
  --color-brand-peach: #f4a87b;
  --color-brand-green: #a9d8d2;
  --color-brand-pink: #f8d0e2;

  --color-brand-text: #1c1917;
  --color-brand-offwhite: #fdfbf7;
  /* Mantendo um neutro bem claro para fundos gerais se precisar */

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--color-brand-text);
    background-color: var(--color-brand-offwhite);
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}